* {
  margin: 0;
  padding: 0;
}
html,body {
  height: 100%;
  background-color: black;
}
.header {
  background-color: black;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  height: cover;
  width: cover;
}
h1 {
  color: white;
}
